# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Data
unsynceddata/

# Mac
.DS_Store

notebooks/imc-case-damond-2019/data/BMED320_experiments_case6126_E08_CyTOF_scaled_pixels.csv
